  
<div class="container mt-5">
  <div class="row">
    <h4>Characters</h4>
    <div class="col-6 mb-5">
      <select class="form-select" (change)="handleChange($event.target)">
        <option value="">-- Select a house --</option>
        <option *ngFor="let house of houses" [value]="house.value">
          {{house.value}}
        </option>
      </select>
    </div>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="row-border hover table table-striped table-bordered hover text-center">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Patronus</th>
        <th scope="col">Age</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.patronus || "-" }}</td>
        <td>{{item.yearOfBirth || '-'}}</td>
        <td>
          <img *ngIf="!item.image else img" src="../../../assets/empty-img.png" class="card-img-top" alt="NO IMAGE"
            width="50" height="100">
          <ng-template #img>
            <img #img class="small-flag" [src]="item.image" width="100" height="100">
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>